[Unit]
Description=Fairpone flasher service
# Start after the network is up (or not)
After=network.target sync.service

[Service]
Environment=SDL_VIDEODRIVER=directfb
ExecStart=/usr/bin/python flasher
WorkingDirectory=/root/flasher
Restart=always

[Install]
WantedBy=graphical.target
